<launch>
	<arg name="map_file" default="$(find line_detection_and_rotation)/maps/home.yaml"/>

    <node name="map_server_for_test" pkg="map_server" type="map_server" args="$(arg map_file)">
    </node>

    <node name="line_detection_and_rotation_client" pkg="line_detection_and_rotation" type="line_detection_and_rotation_node" args="$(arg map_file)">
    </node>
</launch>
