<launch>
<node name="baselink_to_cameralink" pkg="tf" type="static_transform_publisher" args="0.142 0 0.431 0 0 0 base_link ar_camera_link 50">
</node>

<node name="cameralink_to_lcameralink" pkg="tf" type="static_transform_publisher" args="0 0.06 0 -1.5707963 0 -1.5707963 ar_camera_link ar_track_alvar_frame 50">
</node>

	<node name="calcalate_global_marker_node" pkg="calcalate_global_marker" type="calcalate_global_marker_node" respawn="false" output="screen">
	</node>
</launch>
