<launch>
	<arg name="map_file" default="$(find scale_map)/maps/bad_poselist.yaml"/>

    <node name="map_server_for_test" pkg="map_server" type="map_server" args="$(arg map_file)">
    </node>

    <node name="scale_map_click" pkg="scale_map" type="scale_map_click" output="screen">
    </node>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find scale_map)/rviz/path_plan.rviz" />

</launch>
