<launch>
    <node name="relocalization_sweeper_node" pkg="relocalization_sweeper" type="relocalization_sweeper_node" output="screen">
        <param name="voc_dir" type="string" value="$(find relocalization_sweeper)/voc/" />
        <param name="dataset_dir" type="string" value="$(find relocalization_sweeper)/rgb/" />
        <param name="pose_dir" type="string" value="$(find relocalization_sweeper)/pose/pose_list.txt" />
        <param name="depth_dir" type="string" value="$(find relocalization_sweeper)/depth/" />
    </node>
</launch>
